* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  background: pink;
}

.main-container{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  background-color: white;


}

.left-div{
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 3rem;
}

.logo{
  display: flex;
  width: 100%;
  margin-bottom: 20vh;

}

.we{
  display: flex;
  width: 100%;
  margin-bottom: 5vh;
}

span{
  color: pink;
  
}

.hello{
  width: 100%;
  font-size: 16px;
  margin-bottom: 5vh;
}

.email{
  width: 100%;
  margin-top: 10vh;
}

.right-div{
  display: flex;
  width: 40%;
  
}

footer{
  width: 100%;
}